html
	include components/header.pug
	script(src='/js/ajax.js')
	body
		include components/navbar.pug
		.container-fluid#seachbarborrow
			form#searchForm(action="/borrow", method="POST", class="search-wrapper")
				input.form-control(id="searchbar" list="autocomplete" name="searchvalue" type="text" placeholder="Search" required="")
				datalist(id="autocomplete")
					option(value="Drills")
					option(value="Saws")
					option(value="Screwdrivers")
					option(value="Wrenches")
		.container-fluid
			h1= "Borrow " + tool
			each key, index in results
				.row
					.col-md-4
						a(id="a" + index)
							.container-fluid
								h3= key.name
								p= key.description
					.col-md-8
						div(class="la" + index + " hid")
							each k, v in key.users
								.row
									.container-fluid
										h3= k
										h6= v